table,td,th{
    border: 1px solid black;
}
header{
    margin-top: 20px;
}
.train{
    margin-bottom: 200px;
}
.abstand{
    margin-top: 50px;
}
dt{
    font-weight: bold;
}
#CSStrain h1{
    color: blue;
    text-align: center;
}
#CSStrain h2{
    color: red;
    text-align: center;
}
.hervor{
    font-size: 20px;
    font-weight: bold;
    
}
.highlight{
    background-color: green;
    font-style: italic;
}
#CSStrain p{
    color: blue;
    text-align: center;
}
#wichtig{
    font-size: 24px;
    font-weight: bold;
    background-color: red;
}
#CSStrain .highlight.hervor{
    color: red;
    background-color: black;
}

 section > article{
    color: green;
    font-size: 24px;
}
section>h2{
    color: green;
}
section li{
    color: green;
    font-weight: bold;
}

#Uebung11 h1+p{
    color: blue;
}
#Uebung11 div+p{
    color: blue;
}



#Uebung12 a:visited{
    text-decoration: none;
    background-color: green;
    border: 1px;
    border-color: green;
    color: white;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 2px;
}
#Uebung12 a:link{
    text-decoration: none;
    background-color: green;
    border: 1px;
    border-color: green;
    color: white;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 2px;
}
#Uebung12 a:hover{
    background-color: grey;
    color: black;
}
#Uebung12 a:active{
    background-color: grey;
    color: black;
}
#Uebung12 header li{
    list-style: none;
}

#Uebung12 table,td,th{
    border: none;
}
#Uebung12 table{
    border: 1px solid black;
}
#Uebung12 tr:nth-child(even){
 background-color: green;
}
#Uebung12 tr:nth-child(odd){
 background-color: beige;
}

@keyframes moveleft{
    from {translate:calc(100%+120%)  ;background-color: red;}
    to {translate:calc(100%); background-color: yellow;}
    
}
@keyframes moveright{
    from{translate:calc(100%); background-color: green;}
    to{translate:calc(100%+100%); background-color: blue;}
    
}

#inbox{
    width: 1500px;
    height: 500px;
    background-color: black;
    display: flex;
    justify-self: center;
    justify-content: space-between;
}
#rechts{
    width: 30%;
    height: 90%;
    background-color: green;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
     float: right;
}
#links{
    width: 30%;
    height: 90%;
    background-color: red;
    margin: 1%;
    animation-name: moveleft;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.addedcard {
    height: 130px;
}
.card .customcards{
    width: 200px;
}